
@{
    ViewBag.Title = "Charity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Charity</h2>
<div>
    <b> Temple Trust:</b><br /><br />
</div>
    <li>        •	Jai Srimanaraya Charitable Trust     <a href="#" class="button special">Donate</a></li><br />
    <li>        •	Jagannadha Tadiyaradhana Trust      <a href="#" class="button special">Donate</a></li><br />
    <li>        •	Sri Gokulam Goshala Trust      <a href="#" class="button special">Donate</a></li><br />
