@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- Contact information-->
<section class="section section-sm section-first bg-default">
    <div class="container">
        @*<div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="tel:#">+91-7329926266 </a></p>
                    </div>
                </article>
            </div>*@
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-up104"></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="">VAIKUNTAPURAMU VIRAT VENKATESWARA SWAMY DIVYA KSHETRAM, SRI VAIKUNTAPURAMU, SANGAREDDY, TELANGANA, INDIA, 502201 </a></p>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="mailto:#">svtemplesrd@gmail.com </a></p>
                        <p class="box-contacts-link"><a href="tel:#">+91-7329926266 </a></p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form-->
<section class="section section-sm section-last bg-default text-left">
    <div class="container">
        <article class="title-classic">
            <div class="title-classic-title">
                <h3>Get in touch</h3>
            </div>
            <div class="title-classic-text">
                <p>If you have any questions, just fill in the contact form, and we will answer you shortly.</p>
            </div>
        </article>
        <form class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="https://livedemo00.template-help.com/wt_prod-19077/bat/rd-mailform.php" novalidate="novalidate">
            <div class="row row-14 gutters-14">
                <div class="col-md-4">
                    <div class="form-wrap">
                        <input class="form-input form-control-has-validation" id="contact-your-name-2" type="text" name="name" ><span class="form-validation"></span>
                        <label class="form-label rd-input-label" for="contact-your-name-2">Your Name</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-wrap">
                        <input class="form-input form-control-has-validation" id="contact-email-2" type="email" name="email" ><span class="form-validation"></span>
                        <label class="form-label rd-input-label" for="contact-email-2">E-mail</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-wrap">
                        <input class="form-input form-control-has-validation" id="contact-phone-2" type="text" name="phone" ><span class="form-validation"></span>
                        <label class="form-label rd-input-label" for="contact-phone-2">Phone</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-wrap">
                        <label class="form-label rd-input-label" for="contact-message-2">Message</label>
                        <textarea class="form-input textarea-lg form-control-has-validation form-control-last-child" id="contact-message-2" name="message" ></textarea><span class="form-validation"></span>
                    </div>
                </div>
            </div>
            <button class="button button-primary button-pipaluk" type="submit">Send Message</button>
        </form>
    </div>
</section>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>