
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
<p>
    <b> Temple Timings.</b><br>
    6:00 AM – 1:30 PM    <br>    1:30 PM – 4:30 PM Close
    4:30 PM – 8:30 PM<br>

    <b>Daily Sevas.</b><br>
    6:00 AM – Suprabhata Seva<br>
    7:30 AM – Aaradhana<br>
    8:00 AM – Mangalasashanam, Teertha Gosti<br>
    8:30 AM – Masa Archana, Nitya Archana <br>
    12:00 PM – Aaradhana, Teertha Gosti<br>
    6:00 PM – Veda Parayanam, Vishnu Sahasranamam <br>
    8:00 PM – Aaradhana, Teertha Prasada Gosti<br>
    8:20 PM – Eekantha Seva<br><br>

    <b>Weekly & Monthy Sevas</b><br>
    Every month on Sravana Nakshatram – Sri Vari Thirumanjanam<br>
    Every month on Uthara Phalguni Nakshatram – Maha Lakshmi Thirumanjanam<br>
    Every month on Purva Phalguni Nakshatram – Goda Thirumanjanam<br>
    Every month Chita & Swathi Nakshatram – Sudarshan Narasimha Thirumanjanam<br>
    Every month Purav Bhadra Nakshatram – Anjaneya Swamy Thirumanjanam<br>
    Every Pournima – Lakshmi Hayagriva Thirumanjanam<br>
    Every Friday – Sarva Mangala Devi Thirumanjanam<br>
    Every Tuesday & Saturday – Sindhuraachana for Anjaneya (Chandanarchana<br>
    Every Tuesday – Tamala Patra Archana & Vada Mala Seva<br>
    Every Saturday – Vasudeva, Sudarshana, Narasimha Havanam & Palaki Seva for Srinivas Perumal<br>
    Every Tuesday – Sri Rama Hanumat Moola Mantra Havanam<br>
    Every Friday – Maha Lakshmi Kumkuma Archana<br><br>
    <b>Yearly Sevas</b><br>
    In Maghamasam on Magha Sri Panchami – Bramotsavalu (Dates May Vary Year to Year)<br>
    In Sravana Masam – Every Friday Thirumanjanam for Maha Lakshmi and SrvaMangala<br><br>
    - Every Day kumkuma Archana<br>
    - 3rd Friday Vara Lakshmi Vratham<br>
    In Bhadrapada Masam – Vinayaka Chaviti with a tall Eco-Friendy Idol made of Mud and Cow Dung, will be celebrated for 15 Days<br>
    In Dhanurmasam – Every Day at 4:30 AM Andal Thiruppavai Vinnapam<br>
    - 6:00 AM – Gosti, Teertha Prasadam<br>
    - Every Day at 7:30 AM Nitya Homama<br>
    - Vaikunta Ekadashi<br>
    - Kudarai celebration with 108 Akshaya Pathra of Ksheeranam<br>
    Every year on January 11 – Ratha Yathra for about 8 KiloMeters<br>
    Every year on January 13 – Goda Ranganatha Kalyanam<br>
    Every year in the month of March from Dashami to Pournami – Direct sun rays on the lotus feet of Venkateshwara (Dates may Vary)<br>
    Every year on Tholi Ekadashi(Before Sravana Masam) – Laksha Tulasi Archana 21 Times Vishnu Sahasranamam Prayananam.<br><br>

    All Common Vaishnava Festivals In Every Masam<br>
</p>



