
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>
<section id="two" class="wrapper style2">
    <header class="major">
        <!--<h2>Sri Vaikuntapuram</h2>-->
        <h2>600 Years old history </h2>
        <p>The holy Place of Vaikuntapuram - Venkateshwara Swamy</p>
    </header>
    <div class="container">
        <div class="row">
                <section class="special">
                    <a href="#" class="image fit"><img src="~/images/pic01.jpg" alt="" /></a>
                    <h3> Vaikuntapuram - Venkateshwara Swamy</h3>
                    <p>
                        History Of Sri Vaikuntapuram
                        600 years ago, a saint for his devotional activities like Japam and others,  used to stay here (present temple location) and only used to pray Lord Vekateshwara.  There, local citizens used to share their problems with him and get solutions for their problems and get blessings from him.
                        After some time, he said to the local people that a Venkateshwara Swamy temple will be established on “Maga Shudha Panchami(Vasantha Panchami)”. Time has passed and the day saint said has arrived. But that saint used to perform his regular activities like Japam, Sandhya Vandhanam in 2 lakes named “Pala Kooneru, Neela Kooneru”. By seeing his carelessness, people went to him and asked him about the Idol for the temple and Installation, things required for Yagas etc. Then that saint didn’t speak a word and went to perform bath in that lake. Time passed onn, but he didn’t come out of that lake. Local people got tensed and started searching for him. A guy who was in search for that saint passed by that lake and he found the clothing which was worn by that saint. Then that guy informed all other devotees. Then all the devotees assumed that the saint who went to bath in that lake might got drowned and started searching for him. While searching for him devotees found an Idol of Sri Venkateshwara with the clothing of that saint. Then all the devotees there were in a different trance by seeing that Idol with the clothing of that saint, then the guy who took that Idol of Sri Venkateshwara out of the water, was possessed by the Lord Srinivasa and said “OH! Devotees, I am Narayana in the form of that saint. For the preservation of Kali Yuga’s Dharma, I am evolved as Lord Venkateshwara.”
                        To describe that Idol we need to understand the song which was written by Annamacharya. That song is “Indariki abhayyammulu ichu cheyi, kanduvagu manchi bangaru cheyi”. As that song describes the lord, even that Idol was evolved with at most beauty with a smiling face, Golden Hand (Abhaya Hastam), Golden Chest Armour, Golden Thirunamam. All devotees who arrived that location were blessed by seeing that beautiful Idol. They were blessed by the luck which couldn’t obtained by other life’s. Then they Installed that Idol in that newly constructed temple. From then the greatness of this temple was spread across the state and county.
                        From then the devotees used performed Kalyanam on Sri Panchami, Rathotsavam on Ratha Sapthami with full richness.  But before 95 years from now, It was all stopped. The reason was some cruel robbers. They thought that this temple may have huge amount of treasure. So, they robbed the temple. Unfortunately they did not find anything. Then they saw the main Idol inside the sanctum. That fellows, robbed the lord. They broke the hand of the lord and removed the chest armour. We don’t know why the lord didn’t react. May be he had forgiven the thief’s, or, he wanted to get re-Installed as the Lord of the Lords. The next day, when the priest of that temple went to perform the Aaradhana was possessed by Narayana and said “OH! My devotee. After 90 years I will be re-born.” And the lord vanished.
                        After 90 Years, In the outskirts of presently known city Sangareddy, The Lord Narayana was re-Installed with a new Idol bearing the height of 14 feet. The tallest ever known. He was installed on Sri Panchami with full rituals.

                    </p>
                </section>
            </div>
                <section class="special">
                    <a href="#" class="image fit"><img src="~/images/pic02.jpg" alt="" /></a>
                    <h3> Vaikuntapuram - Anjaneeya Swamy</h3>
                    <p> The full name of God Hanuman of Sri Vaikuntapuram is Dakshina Mukha Saneischarayutha Daasaanjaneeya Swamy. Anjaneya Swamy is also the Kshetrapaalakudu (Protector of the Temple). Local people carved the Garuda Idol and was beautifully carved. And, when they tried to carve Hanuman’s Idol, It was not able to be carved. They tried many time to carve hanuman, but they couldn’t. So, they left the temple without installing Hanuman’s Idol. 60 years after the appearance of Lord Venkateshwara Idol, One day A man who was roaming with his cows was possessed by Hanuman and started to carve the Hanuman Idol. We believe that God Hanuman himself carved his idol. This is God Hanuman at Vaikuntapuram’s Story.</p>
                </section>
            </div>
        </div>
    </div>
</section>

